<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jpages.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-min.js') }}"></script>
        <script src="{{ asset('js/jpages.js') }}"></script>
        <script src="{{ asset('js/tabifier.js') }}"></script>
        <script src="{{ asset('js/ajax.js') }}"></script>
        <script src="{{ asset('js/modal.js') }}"></script>
    {% endblock %}


</head>
<body>

<div class="container-fluid">

    <div class="row col-lg-9 centered">

        <div class="col-lg-6 .col-xs-1 hidden-xs hidden-md hidden-sm">
            <img class="psilogo wow fadeInLeftBig" src="{{ asset('img/psilogo.png') }}" alt="logo" />

        </div>	<!-- End of Col Div-->


        <div class="col-lg-6 .col-xs-1">
            <div class="page-header">
                <h1 class="wow fadeInRightBig"><span data-wow-delay="2s" class="wow flash">Invoice History</span></h1>
            </div>
        </div>	<!-- End of Col Div-->

    </div>	<!-- End of Row Div-->

    <div class="row col-lg-9 wow fadeInUpBig centered filtrus" data-wow-delay="1s" style="display:none;">



            {# app/Resources/views/Default/new.html.twig #}
            {{ form_start(form, {'attr': {'id': 'forma'}}) }}
            {{ form_widget(form, {'attr': {'class': 'row'}}) }}
            {{ form_end(form) }}


     </div>	<!-- End of Col Div-->
    <script>
        $(function(){
            $("div.holder").jPages({
                containerID : "itemContainer",
                previous : "←",
                next : "→",
                perPage : 6,
                delay : 20
            });
        });
    </script>
    <div class="col-lg-9 centered">
    <table class='maintable table table-bordered'>
            <thead>
            <th>#</th>
            <th>Invoice Number</th>
            <th>Invoice Date</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th>Details</th>



            </thead>
        <tbody id="itemContainer">
        {% for entity in invoices %}
            <tr class="table_row">
                <td>{{ entity.id }}</td>
                 <td>{{ entity.invoice_num }}</td>
                <td>{{ entity.invoice_date|date('Y-m-d') }}</td>
                <td>{{ entity.product_description }}</td>
                <td>{{ entity.qty|number_format(2, '.', ',') }}</td>
                <td>{{ entity.price|number_format(2, '.', ',') }}</td>
                <td>{{ (entity.qty*entity.price)|number_format(2, '.', ',') }}</td>
                <td>
                <button type="button" class="btn btn-primary noprint"
                        data-toggle="modal" data-target="#myModal"
                        data-num="{{ entity.invoice_num }}"
                        data-date="{{ entity.invoice_date|date('Y-m-d') }}"
                        data-description="{{ entity.product_description }}"
                        data-qty="{{ entity.qty|number_format(2, '.', ',') }}"
                        data-price="{{ entity.price|number_format(2, '.', ',') }}"
                        data-total="{{ (entity.qty*entity.price)|number_format(2, '.', ',') }}"
                        >Details</button>
                </td>

            </tr>
        {% endfor %}
        </tbody>
        <div class="holder noprint"></div>
        </table>
    </div>	<!-- End of Row Div-->


    <div class="row">

        <div class="col-sm-9 centered">

            <div id="mainContent">

            </div> <!-- End of Main Content -->


        </div>	<!-- End of Col Div-->

    </div>	<!-- End of Row Div-->
</div> <!-- End of Container Div-->

{% block javascriptsfooter %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close noprint" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title noprint" id="exampleModalLabel">Title</h4>
            </div>
            <div class="modal-body">

                <table class='table table-bordered'>
                    <thead>
                    <th colspan="2" class="modal-title"></th>
                    </thead>
                    <tbody>
                    <tr><td>Invoice Number</td><td class="modal-num2"></td></tr>
                    <tr><td>Date</td><td class="modal-date"></td></tr>
                    <tr><td>Description</td><td class="modal-description"></td></tr>
                    <tr><td>Quantity</td><td class="modal-qty"></td></tr>
                    <tr><td>Price</td><td class="modal-price"></td></tr>
                    <tr><td>Total</td><td class="modal-total"></td></tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer noprint">
                <button type="print" class="btn btn-success" onclick="window.print();">Print</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

